html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  --mdc-snackbar-container-color: #198754 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.error-snackbar {
  --mdc-snackbar-container-color: #dc3545 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.warning-snackbar {
  --mdc-snackbar-container-color: #fd7e14 !important;
  --mdc-snackbar-supporting-text-color: black !important;
  --mat-mdc-snack-bar-button-color: black !important;
}

.info-snackbar {
  --mdc-snackbar-container-color: #0d6efd !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.secondary-snackbar {
  --mdc-snackbar-container-color: #6c757d !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}
